.join-pcc-btn {
  position: relative;
  padding: 0.5rem 1.5rem; 
  border: 1px solid #16a34a; 
  border-radius: 9999px; 
  color: #15803d; 
  font-family: 'Garamond', serif; 
  /* font-weight: 600; */
  cursor: pointer;
  overflow: hidden;
  background: transparent;
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.join-pcc-btn:hover {
  background-color: #16a34a; 
  color: #fff; 
  transform: scale(1.05);
}

.join-pcc-btn:hover .icon {
  transform: translateX(4px);
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.join-pcc-btn:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.join-pcc-btn::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }
  60% {
    left: 100%;
  }
  to {
    left: 100%;
  }
}
